
<body>

    <img id="background-image" class="backs" src="../../assets/images/background.jpg">


<div class="container">

    


    <img *ngIf= " hiddenPuzzle === true; else otherPuzzle " src="../../assets/images/portals.png" (click)="whiteNoise()" />
    <ng-template #otherPuzzle>  
        <img src= "../../assets/images/1.png" (click)="whiteNoise()"></ng-template> 
    
    <img *ngIf= " hiddenPuzzle2 === true; else otherPuzzle2 " src="../../assets/images/portals.png" (click)="whiteNoise2()" />
    <ng-template #otherPuzzle2>  
        <img src= "../../assets/images/2.png" (click)="whiteNoise2()"></ng-template>

    <img *ngIf= " hiddenPuzzle3 === true; else otherPuzzle3 " src="../../assets/images/portals.png" (click)="whiteNoise3()" />
        <ng-template #otherPuzzle3>  
            <img src= "../../assets/images/3.png" (click)="whiteNoise3()"></ng-template>

    
    <img *ngIf= " hiddenPuzzle4 === true; else otherPuzzle4 " src="../../assets/images/portals.png" (click)="whiteNoise4()" />
        <ng-template #otherPuzzle4>  
                <img src= "../../assets/images/4.png" (click)="whiteNoise4()"></ng-template>


    <img *ngIf= " hiddenPuzzle5 === true; else otherPuzzle5 " src="../../assets/images/portals.png" (click)="whiteNoise5()" />
        <ng-template #otherPuzzle5>  
                    <img src= "../../assets/images/5.png" (click)="whiteNoise5()"></ng-template>

    <img *ngIf= " hiddenPuzzle6 === true; else otherPuzzle6 " src="../../assets/images/portals.png" (click)="whiteNoise6()" />
                    <ng-template #otherPuzzle6>  
                        <img src= "../../assets/images/6.png" (click)="whiteNoise6()"></ng-template>

    <img *ngIf= " hiddenPuzzle7 === true; else otherPuzzle7 " src="../../assets/images/portals.png" (click)="whiteNoise7()" />
                        <ng-template #otherPuzzle7>  
                            <img src= "../../assets/images/7.png" (click)="whiteNoise7()"></ng-template>

    <img *ngIf= " hiddenPuzzle8 === true; else otherPuzzle8 " src="../../assets/images/portals.png" (click)="whiteNoise8()" />
                            <ng-template #otherPuzzle8>  
                                <img src= "../../assets/images/8.png" (click)="whiteNoise8()"></ng-template>

    <img *ngIf= " hiddenPuzzle9 === true; else otherPuzzle9 " src="../../assets/images/portals.png" (click)="whiteNoise9()" />
                                <ng-template #otherPuzzle9>  
                                    <img src= "../../assets/images/9.png" (click)="whiteNoise9()"></ng-template>

    <img *ngIf= " hiddenPuzzle10 === true; else otherPuzzle10 " src="../../assets/images/portals.png" (click)="whiteNoise10()" />
                                    <ng-template #otherPuzzle10>  
                                        <img src= "../../assets/images/10.png" (click)="whiteNoise10()"></ng-template>

    <img *ngIf= " hiddenPuzzle11 === true; else otherPuzzle11 " src="../../assets/images/portals.png" (click)="whiteNoise11()" />
                                        <ng-template #otherPuzzle11>  
                                            <img src= "../../assets/images/11.png" (click)="whiteNoise11()"></ng-template>
    

    <img *ngIf= " hiddenPuzzle12 === true; else otherPuzzle12 " src="../../assets/images/portals.png" (click)="whiteNoise12()" />
                                            <ng-template #otherPuzzle12>  
                                                <img src= "../../assets/images/12.png" (click)="whiteNoise12()"></ng-template>
        
    
    <img *ngIf= " hiddenPuzzle13 === true; else otherPuzzle13 " src="../../assets/images/portals.png" (click)="whiteNoise13()" />
                                                <ng-template #otherPuzzle13>  
                                                    <img src= "../../assets/images/13.png" (click)="whiteNoise13()"></ng-template>
            

    <img *ngIf= " hiddenPuzzle14 === true; else otherPuzzle14 " src="../../assets/images/portals.png" (click)="whiteNoise14()" />
                                                    <ng-template #otherPuzzle14>  
    <img src= "../../assets/images/14.png" (click)="whiteNoise14()"></ng-template>
                

    <img *ngIf= " hiddenPuzzle15 === true; else otherPuzzle15 " src="../../assets/images/portals.png" (click)="whiteNoise15()" />
                                                        <ng-template #otherPuzzle15>  
                                                            <img src= "../../assets/images/15.png" (click)="whiteNoise15()"></ng-template>

    <img *ngIf= " hiddenPuzzle16 === true; else otherPuzzle16 " src="../../assets/images/portals.png" (click)="whiteNoise16()" />
                                                            <ng-template #otherPuzzle16>  
    <img src= "../../assets/images/16.png" (click)="whiteNoise16()"></ng-template>
                                                                                   
                    
</div>

<section class="thing">

    <img class="baby" src="../../assets/images/babypink.png">

    <div class="other">

    <h2>Tracklist</h2>
    <ul>
        <li>
         <a routerLink="/DEATH">DEATH</a>
        </li>
   

</ul>

    </div>

    <img class="dragon" src="../../assets/images/dragon.png" alt="">

</section>

</body>