
footer {
    text-align: center;
    background-color: rgba(191, 240, 17, 0.74);
    margin: 25x;
    margin-right: 40px;
    margin-left: 40px;
    color: rgb(255, 35, 71);
    padding: 10px
    
;
}