


<section>

    <img class="dragon1" src="../../assets/images/dragon.png" alt="">

<div>
    
    <img id="background-image" class="backs" src="../../assets/images/background.jpg">

    <div class="title">
        <h1>DEATH</h1>
        <h2>Melanie Martinez</h2>
    </div>

    <p>
They're carving my name in the grave, again <br>
The flowers are fresh and their faces wet <br>
My body has died but I'm still alive <br>
Look over your shoulder, I'm back from the dead <br>
Lightin' my candles to draw me in <br>
Seeing all the same things, I'm gone this time <br>
Your words mean nothing, so take 'em back <br>
And meet me here across the plain <br>
The other side of my foreign land <br>
You aren't around, I sink into the ground <br>
I try to pretend I'm closer to you <br>
Never understand it, you're always on my mind <br>
I cannot help it <br>
I don't wanna be carrying the weight on my shoulders <br>
Death has come to me, kissed me on the cheek, gave me closure <br>
Immortal by design, I'll be meeting you here every time <br>
Back from the dead, back from the dead <br>
I'm back from the dead, back from the dead <br>
I'm back from the dead, back from the dead <br>
I'm back from the dead, back from the dead <br>
I'm back from the dead (death), back from the dead (death) <br>
I'm back from the dead (death), back from the dead (death) <br>
I'm back from the dead (death), back from the dead (death) <br>
I'm back from the dead (death), back from the (I'm back) <br>
They're saying my name in their prayers again <br>
I flicker the lights so they understand <br>
I won't say goodbye, I'm right by your side <br>
We're screaming and pleading, this separation ends <br>
Doing all your witchcraft to pull me in <br>
Burning all your sage to connect our line <br>
I show my presence, you run away in fear of ghosts <br>
I try to talk, the barriers are too strong <br>
When you aren't around, I sink into the ground <br>
I try to pretend I'm closer to you <br>
Never understand it, you're always on my mind <br>
I cannot help it <br>
I don't wanna be carrying the weight on my shoulders <br>
Death has come to me, kissed me on the cheek, gave me closure <br>
Immortal by design, I'll be meeting you here every time <br>
Back from the dead, back from the dead <br>
I'm back from the dead, back from the dead <br>
I'm back from the dead, back from the dead <br>
I'm back from the dead, back from the dead <br>
I'm back from the dead (death), back from the dead (death)<br>
I'm back from the dead (death), back from the dead <br> 
I'm back from the dead (death), back from the dead (death) <br>
I'm back from the dead (death), back from the dead <br>
Please, don't ever worry <br>
I know it's morbid, but we all die one day <br>
I'm back from the dead, back from the dead <br>
I'm back from the dead, back from the dead <br>
I'm back from the dead, back from the dead <br>
I'm back from the dead, back from the (I'm back) <br>
    </p>

    <h2>Video</h2>
    <video width="500" height="300" src="../../assets/videos/DEATH.mp4"
    poster="../../assets/images/pink.jpg"
    controls
    muted
    loop
    >
    </video>

</div>

<img class="dragon" src="../../assets/images/dragon.png" alt="">

</section>

<nav>
    <h3>Tracklist</h3>
    <ul>
        <li>
            <a routerLink="/DEATH">DEATH</a>
        </li>
    </ul>
</nav>